:root {
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Theme Colors  */
    --clr-light: #FFF8DC;
    --clr-dark: #212121;
    --clr-primary: #61dafbaa;
    --clr-secondary: #09d866;
    --clr-accent1: #cfc290;
    --clr-accent2: #494949;
    --clr-langDM: rgb(202, 202, 250);
    --clr-langLM: rgb(71, 71, 251);
    --clr-uhHLDM: rgb(254, 119, 119);
    --clr-uhHLLM: rgb(202, 39, 39);
    --clr-sourceHLLM: rgb(235, 123, 123);
    --clr-sourceHLDM: rgb(122, 198, 255);

    /* Defaults */
    --clr-glow: var(--clr-primary);
    --clr-accent: var(--clr-accent2);
    --foreground: var(--clr-dark);
    --background: var(--clr-light);
    --lang: var(--clr-langDM);
    --uhHighLight: var(--clr-uhHLDM);
    --sourceHL: var(--clr-sourceHLDM);
}

html, body {
    height: 100%;
    margin: 0;
}

html {
    background-color: var(--foreground);
    scroll-behavior: smooth;
}

@media (prefers-color-scheme: light) {
    :root {
        --foreground: var(--clr-light);
        --background: var(--clr-dark);
        --clr-accent: var(--clr-accent1);
        --clr-glow: var(--clr-secondary);
        --lang: var(--clr-langLM);
        --uhHighLight: var(--clr-uhHLLM);
        --sourceHL: var(--clr-sourceHLLM)
    }
}

/* LAYOUT */
body {
    background-color: var(--foreground);
    flex-direction: column;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

.main-content {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;

}

.page {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 44rem;
    min-height: 100vh;
}

/* MAIN CONTENT */
/* Introduction Header */
.name {
    display: flex;
}

#hello {
    display: inline;
}

/* Blinking Cursor */
@keyframes blink {
    0% { border-color: var(--background); }
    50% { border-color: transparent; }
    100% { border-color: var(--background); }
}

.no-blink {
    border-right: .2rem solid var(--background);
}

.blink {
    border-right: .2rem solid var(--background);
    animation: blink 0.7s step-end infinite;
}

/* Introduction container */
.introduction {
    color: var(--background);
    display: flex;
    justify-content: center;
    max-width: 700px;
    width: 100%;
}

.header {
    box-sizing: border-box;
    padding: 0 1.2rem;
    width: 100%;
}

.name {
    margin-top: 0px;
    margin-bottom: -30px;
    width: 100%;
}

.description {
    font-size: 1.2rem;
    text-transform: lowercase;
    width: 100%;

}

.icons {
    align-items: center;
    /* background-color: var(--clr-accent); */
    backdrop-filter: blur(10px);
    border-color: transparent;
    background-color: rgba(119, 195, 253, 0.50);
    border-radius: 5px;
    display: flex;
    gap: 1rem;
    height: 0 auto;
    margin: 0 auto;
    padding: 0.5rem;
    padding-left: 1rem;
    transition: all 0.3s ease;
    width: 0 auto;
}

.icons a svg {
    display: flex;
    justify-content: center;
    text-decoration: none;
    transition: all 0.3s ease;
}

.icons a:hover svg {
  filter: drop-shadow(0 0 1.5em var(--clr-glow));
  transform: scale(1.1);
}

.x-logo, .github-logo, .linkedin-logo {
    color: var(--background);
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    transition: all 0.3s ease;
}

.email-logo {
    height: 55px;
    width: 55px;
}

.uh-highlight {
    color: var(--uhHighLight);
}

.lang-highlight {
    color: var(--lang);
}

/* Hobbies Display  */
#base {
    color: var(--background);
    padding-top: 0;
    margin-top: 0;
}

.hobbies-display,
.hobbies-header,
.swiper {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}


.hobbies-display {
    align-items: center; 
    margin-top: 20px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    max-width: 700px;
    width: 100%;
}

.hobbies-header {
    box-sizing: border-box;
    padding: 0 1rem;
    width: 100%;
}

.bg-frame {
    width: 0 auto;
    height: 0 auto;
    background-color: red;
}

.swiper  {
    border-radius: 16px;
    max-width: 0 auto;
    overflow: hidden;
    width: 100%;
    max-height: 0 auto;
}

.swiper-slide {
    background: transparent;
    border-radius: 5px;
    overflow: hidden; 
    position: relative;
}

.swiper-slide img {
    display: block;
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: center;
}

.video-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 1.2rem !important;
    color : rgba(119, 195, 253);
}

.swiper-slide iframe {
    width: 100%;
    height: 100%;
}

.swiper-scrollbar-drag {
    background: white !important;
}

.swiper-pagination-bullet {
    background-color: rgba(119, 195, 253) !important;
}

/* Photos Display */
.projects-display{
    display: flex;
    /* flex-grow: 1; */
    justify-content: center;
    max-width: 700px;
    width: 100%;
}

.project-header {
    box-sizing: border-box;
    max-width: 700px;
    padding: 0 1rem;
    width: 100%;
}

#showcase {
    color: var(--background);
    margin-bottom: .2rem;
}

.inner-block {
    background-color: rgba(119, 195, 253, 0.50);
    backdrop-filter: blur(10px);
    border-color: transparent;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    height: 100%;
    margin-top: 20px;
    max-width: 700px;
    padding: 1rem;
    text-align: left;
    transition: background-color 0.3s;
    width: 100%;
}

.inner-block:hover {
    background-color: rgb(139, 197, 242);
}

.button-text {
    color: var(--background);
    font-size: 1rem;
}

/* Footer */
.footer {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* margin-top: auto;   */
    /* width: 100%; */
    text-align: center;
    padding: 1rem 0;
}

.source {
    align-self: center;
    box-sizing: border-box;
    font-size: 1.1rem;
}

.source a {
    color: var(--background);
    text-decoration: none;
}

.source a:hover {
    color: var(--sourceHL);
}

/* Labels  */
.label {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.project-2-labels {
    display: flex;
    gap: 5px;
}

.project-3-labels {
    display: flex;
    gap: 5px;
}

.project-4-labels {
    display: flex;
    gap: 5px;
}

#css {
    background-color: #264de4;
    border-radius: 5px;
    color: #ebebeb;
    gap: 5px;
    justify-content: center;
    max-width: 50px;
    padding: 2px 2px;
    width: 100%;
}


#empty {
    background-color: black;
    border-radius: 5px;
    color: #ffde57;
    gap: 5px;
    max-width: 50px;
    padding: 2px 2px;
    width: 100%;
}

#pokemon {
    background-color: rgba(59, 206, 66, 0.75);
    border-radius: 5px;
    color: #000000;
    padding: 2px 4px;
    position: absolute;
    top: 5px;
    left: 15px; 
}

#display {
    background-color: rgba(238, 165, 220, 0.75);
    border-radius: 5px;
    color: #000000;
    padding: 2px 4px;
    position: absolute;
    top: 5px;
    left: 15px; 
}

#cat {
    background-color: rgba(224, 141, 46, 0.75);
    border-radius: 5px;
    color: #000000;
    padding: 2px 4px;
    position: absolute;
    top: 5px;
    left: 15px; 
}

#family {
    background-color: rgba(72, 222, 245, 0.765);
    border-radius: 5px;
    color: #000000;
    padding: 2px 4px;
    position: absolute;
    top: 5px;
    left: 15px; 
}

#games {
    background-color: rgba(230, 222, 79, 0.765);
    border-radius: 5px;
    color: #000000;
    padding: 2px 4px;
    position: absolute;
    top: 5px;
    left: 15px; 
}

.swiper-slide img.game-img{
  object-fit: cover;
  object-position: center 50%;
}

.swiper-slide img.display-img{
  object-fit: cover;
  object-position: center 70%;
}


.paw-text {
  font-family: system-ui, sans-serif;
  color: var(--uhHighLight);
}

#html {
    background-color: #e34c26;
    border-radius: 5px;
    color: #ebebeb;
    gap: 5px;
    justify-content: center;
    max-width: 50px;
    padding: 2px 2px;
    width: 100%;
}

#js {
    background-color: #f0db4f;
    border-radius: 5px;
    color: #323330;
    gap: 5px;
    justify-content: center;
    max-width: 90px;
    padding: 2px 2px;
    width: 100%;
}

#python {
    background-color: #035faa;
    border-radius: 5px;
    color: #ffde57;
    gap: 5px;
    max-width: 50px;
    padding: 2px 2px;
    width: 100%;
}

#sql {
    background-color: #F29111;
    border-radius: 5px;
    color: #004150;
    gap: 5px;
    max-width: 50px;
    padding: 2px 2px;
    width: 100%;
}


#react {
    background-color: #61DBFB;
    border-radius: 5px;
    color: #24272e;
    gap: 5px;
    max-width: 50px;
    padding: 2px 2px;
    width: 100%;
}

#tailwindcss {
    background-color: #06b6d4;
    border-radius: 5px;
    color: #6d28d9;
    gap: 5px;
    max-width: 90px;
    padding: 2px 2px;
    width: 100%;
}

#placeholder {
    background-color: black;
    border-radius: 5px;
    color: white;
    gap: 5px;
    max-width: 90px;
    padding: 2px 2px;
    width: 100%;
}

/* Responsive Adjustments */
@media (max-width: 600px) {
    .description {
        font-size: 16px;
    }

    .icons img {
        height: 40px;
    }
}